# Python
.venv/
venv*/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Node
node_modules/
dist/
.env
.env.local
.env.*.local

# VSCode
.vscode/

# Data and logs
data/
*.csv
*.log

# Builds
build/
dist/
*.egg-info/

# OS files
.DS_Store
